@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


:root{
  --primaryColor:#244D3F;
  --secondaryColor:#F8FAFC;
  --primaryContent:#1F2937;
  --textColor:#64748B;
  --greenSecondary:#CBFADB;

}

body{
  font-family: "Geist", sans-serif;
}

.active{
  background-color: var(--primaryColor);
  color: white;
  font-weight: 600;
}